<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howtoplay</title>
    <style>
        body{
            background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('static/start.jpg')
        }
    </style>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/howtoplay.css') }}">
</head>

<body>
    <header class="header">
    </header>
    <main class = "main">
        <div style="overflow:auto;height: 350px; background-color: white;  border-radius: 5px;">
            This game consists of two minigames: SketchMind and revenge of AI.
            SketchMind is the main game where you can draw your own drawing and submit, and enjoy how the trained model predicts what is it that you draw. After that, you can decide wheter the label actually is what you draw. In addition, there will be some graphs and former records shown in the statistics page.
            Next, Revenge of AI is the game where AI, that had to guess, now gets the chance to draw. So when a picture is shown, you get to guess what the drawing is about. There will be candidates, so it wouldn't be that hard to guess. 
            Now, enjoy the SketchMind~!
        </div>
        <div>
            <a href = "./">
                <input class="btn btn-primary col-md-1" type="button" value="Back to menu" id="btn">
            </a>
                    </div>
    </main>


    
</body>
</html>