<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketchmind-start</title>
    <style>
        body{
            background-image:url('static/start.jpg')
        }
    </style>

    <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header">
        <div id="header_title">Sketchmind</div>
        <div id="header_info">Doyoung Kim, Minuk Kim, Hyunjin Kim, Banseok Woo</div>
    </header>
    <main class = "main">
        <div>
            <input class="btn btn-primary col-md-1" type="button" value="sketchmind start" id="btn" onclick="location.href = 'canvas'">
        </div>
        <div>
            <input class="btn btn-primary col-md-1" type="button" value="revenge of AI" id="btn" onclick="location.href = 'revenge_of_ai'">
        </div>
        <div>
            <input class="btn btn-primary col-md-1" type="button" value="How to play" id="btn" onclick="location.href = 'how_to_play_1'">
        </div>
    </main>
</body>
</html>